[Unit]
Description=PIR Mqtt Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python2 /home/pi/viamybox/scripts/iot/mqtt-dht.py

[Install]
WantedBy=multi-user.target
